<h1>Sample#dummy</h1>
<p>Find me in app/views/sample/dummy.html.erb</p>
<div id="board"></div>

<script id="tileId" type="text/template">
	<div>example data  {{= div_id }} </div>	
</script>
<%=javascript_include_tag "rails2048Pure" %>
<%=stylesheet_link_tag "sample" %>

